*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none !important;
  color: inherit !important;
}

/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
.topNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: #121c3a;
  z-index: 100;
}

@media only screen and (min-width: 1224px) {
  .topNav {
    /* Styles */
  }
  .topNav .options {
    position: relative;
    width: 95%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: max-content 1fr max-content max-content;
        grid-template-columns: -webkit-max-content 1fr -webkit-max-content -webkit-max-content;
        grid-template-columns: max-content 1fr max-content max-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .topNav .options .brandText {
    position: relative;
    font-family: 'Special Elite', sans-serif;
    color: #ffeb3b;
    font-size: calc( 22px + (48 - 22) * ((100vw - 300px) / (1920 - 300)));
  }
  .topNav .options .links {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: -2;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 3em;
  }
  .topNav .options .links__item {
    position: relative;
    margin: 0 1em;
    padding: 1.1em 0;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: calc( 18px + (22 - 18) * ((100vw - 300px) / (1920 - 300)));
    cursor: pointer;
  }
  .topNav .options .links__item--login {
    display: none;
  }
  .topNav .options .links__item:hover::before, .topNav .options .links__item:focus::before {
    width: 100%;
  }
  .topNav .options .links__item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    background: #ffeb3b;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    height: 4px;
  }
  .topNav .options .login {
    position: relative;
    grid-column: -1;
    margin: 0 1em;
  }
  .topNav .options .login button {
    background-color: #ffeb3b;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    color: #16224f;
    font-family: "Montserrat", sans-serif;
    font-size: calc( 18px + (22 - 18) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 500;
    padding: 5px 10px;
  }
  .topNav .options__burger {
    display: none;
  }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 1224px) {
  .topNav {
    /*Styles*/
  }
  .topNav .options {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: max-content 1fr max-content;
        grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
        grid-template-columns: max-content 1fr max-content;
    padding: 15px;
  }
  .topNav .options .login {
    display: none;
  }
  .topNav .options .links {
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #121c3a;
    z-index: -1;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding-bottom: 10px;
  }
  .topNav .options .links__item {
    position: relative;
    color: #ffeb3b;
    font-family: "Oswald", sans-serif;
    font-size: calc( 18px + (20 - 18) * ((100vw - 300px) / (1920 - 300)));
    padding: 3px 0;
  }
  .topNav .options .brandText {
    position: relative;
    -ms-grid-column: 1;
    grid-column: 1;
    font-family: 'Special Elite', sans-serif;
    color: #ffeb3b;
    font-size: calc( 22px + (48 - 22) * ((100vw - 300px) / (1920 - 300)));
  }
  .topNav .options__burger {
    grid-column: -1;
    width: 25px;
    position: relative;
    z-index: 11;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .topNav .options__burger span {
    display: block;
    position: relative;
    height: 3px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .topNav .options__burger span:nth-child(1) {
    margin-top: 0px;
  }
  .topNav .options__burger span:nth-child(2) {
    margin-top: 5px;
  }
  .topNav .options__burger span:nth-child(3) {
    margin-top: -3px;
  }
  .topNav .options__burger span:nth-child(4) {
    margin-top: 5px;
  }
}

.burger--open span:nth-child(1) {
  width: 0% !important;
  left: 50% !important;
}

.burger--open span:nth-child(2) {
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
}

.burger--open span:nth-child(3) {
  -webkit-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
}

.burger--open span:nth-child(4) {
  width: 0% !important;
  left: 50% !important;
}

.links--open {
  top: 100%;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

footer {
  position: relative;
}

@media only screen and (min-width: 1224px) {
  footer {
    /* Styles */
  }
  footer .bottom {
    position: relative;
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (max-content)[5];
        grid-template-rows: repeat(5, -webkit-max-content);
        grid-template-rows: repeat(5, max-content);
    margin: 5vh auto 8vh auto;
    font-family: "Montserrat", sans-serif;
  }
  footer .bottom .title {
    position: relative;
    text-align: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    margin: 2rem 0;
  }
  footer .bottom .title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 1px;
    background: #000;
    width: 40%;
  }
  footer .bottom .title::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 1px;
    background: #000;
    width: 40%;
  }
  footer .bottom .title .text {
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: calc( 26px + (48 - 26) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
  }
  footer .bottom .quick-links {
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / span 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    margin: 0 0 2rem 0;
  }
  footer .bottom .quick-links .links {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: calc( 16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    text-transform: uppercase;
  }
  footer .bottom .quick-links .links .linkItems {
    position: relative;
    margin: 1rem 0;
  }
  footer .bottom .quick-links .links .linkItems a {
    position: relative;
    color: #000;
  }
  footer .bottom .quick-links .links .linkItems a:hover::before, footer .bottom .quick-links .links .linkItems a:focus::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  footer .bottom .quick-links .links .linkItems a:hover::after, footer .bottom .quick-links .links .linkItems a:focus::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  footer .bottom .quick-links .links .linkItems a::before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: -10px;
    top: -10px;
    left: -10px;
    right: -10px;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  footer .bottom .quick-links .links .linkItems a::after {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: -10px;
    top: -10px;
    left: -10px;
    right: -10px;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  footer .bottom .address {
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / span 2;
    grid-column: span 1/-1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer .bottom .address .text {
    position: relative;
    font-size: calc( 16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }
  footer .bottom .address .text > div {
    position: relative;
    margin: 1rem 0;
  }
  footer .bottom .anirudh {
    position: relative;
    text-align: center;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
    grid-column: span 1/-1;
  }
  footer .bottom .anirudh .content {
    position: relative;
    padding: 1rem;
    text-align: center;
    font-size: calc( 14px + (18 - 14) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #000;
  }
  footer .bottom .anirudh .content .caption {
    position: relative;
    font-size: 80%;
    text-transform: uppercase;
    font-weight: 800;
    margin: 2px 0;
  }
  footer .bottom .anirudh .content .name {
    position: relative;
    display: inline-block;
    margin: 2px 0;
  }
  footer .bottom .anirudh .content .mail {
    position: relative;
    display: inline-block;
    margin: 2px 0;
  }
  footer .bottom .rishabh {
    position: relative;
    text-align: center;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
  footer .bottom .rishabh .content {
    position: relative;
    padding: 1rem;
    text-align: center;
    font-size: calc( 14px + (18 - 14) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #000;
  }
  footer .bottom .rishabh .content .caption {
    position: relative;
    font-size: 80%;
    text-transform: uppercase;
    font-weight: 800;
    margin: 2px 0;
  }
  footer .bottom .rishabh .content .name {
    position: relative;
    display: inline-block;
    margin: 2px 0;
  }
  footer .bottom .rishabh .content .mail {
    position: relative;
    display: inline-block;
    margin: 2px 0;
  }
  footer .bottom .social {
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    text-align: center;
  }
  footer .bottom .social .wrapper {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  footer .bottom .social .wrapper .icons {
    position: relative;
    height: 30px;
    margin: 0 5px;
  }
  footer .bottom .social .wrapper .icons svg {
    width: auto !important;
  }
  footer .bottom .social .wrapper .icons svg path {
    fill: #000 !important;
  }
  footer .bottom .info {
    position: relative;
    text-align: center;
    font-size: calc( 12px + (16 - 12) * ((100vw - 300px) / (1920 - 300)));
    grid-row: span 1/-1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    margin: 3rem 0;
  }
  footer .bottom .vertical-line {
    position: relative;
    text-align: center;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / span 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
  }
  footer .bottom .vertical-line .line {
    position: relative;
    width: 1px;
    height: 80%;
    margin: auto;
    background: #000;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  footer {
    /* Styles */
  }
  footer .bottom {
    position: relative;
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (max-content)[8];
        grid-template-rows: repeat(8, -webkit-max-content);
        grid-template-rows: repeat(8, max-content);
    margin: 5vh auto 8vh auto;
    font-family: "Montserrat", sans-serif;
  }
  footer .bottom .title {
    position: relative;
    text-align: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    margin: 2rem 0 1.5rem 0;
  }
  footer .bottom .title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 1px;
    background: #000;
    width: 30%;
  }
  footer .bottom .title::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 1px;
    background: #000;
    width: 30%;
  }
  footer .bottom .title .text {
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: calc( 26px + (48 - 26) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
  }
  footer .bottom .social {
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    text-align: center;
  }
  footer .bottom .social .wrapper {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  footer .bottom .social .wrapper .icons {
    position: relative;
    height: 30px;
    margin: 0 5px;
  }
  footer .bottom .social .wrapper .icons svg {
    width: auto !important;
  }
  footer .bottom .social .wrapper .icons svg path {
    fill: #000 !important;
  }
  footer .bottom .vertical-line {
    position: relative;
    text-align: center;
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: 2rem 0;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
  }
  footer .bottom .vertical-line .line {
    position: relative;
    width: 1px;
    height: 10vh;
    margin: auto;
    background: #000;
  }
  footer .bottom .address {
    position: relative;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
  }
  footer .bottom .address .text {
    position: relative;
    font-size: calc( 16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }
  footer .bottom .address .text > div {
    position: relative;
    margin: 1rem 0;
  }
  footer .bottom .quick-links {
    position: relative;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / span 1;
    margin: 0 0 2rem 0;
  }
  footer .bottom .quick-links .links {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: calc( 16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    text-transform: uppercase;
  }
  footer .bottom .quick-links .links .linkItems {
    position: relative;
    margin: 1rem 0;
  }
  footer .bottom .quick-links .links .linkItems a {
    position: relative;
    color: #000;
  }
  footer .bottom .quick-links .links .linkItems a:hover::before, footer .bottom .quick-links .links .linkItems a:focus::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  footer .bottom .quick-links .links .linkItems a:hover::after, footer .bottom .quick-links .links .linkItems a:focus::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  footer .bottom .quick-links .links .linkItems a::before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: -10px;
    top: -10px;
    left: -10px;
    right: -10px;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  footer .bottom .quick-links .links .linkItems a::after {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: -10px;
    top: -10px;
    left: -10px;
    right: -10px;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  footer .bottom .anirudh {
    position: relative;
    text-align: center;
    padding: 1rem 0;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / span 1;
  }
  footer .bottom .anirudh .content {
    position: relative;
    padding: 0.5rem;
    text-align: center;
    font-size: calc( 14px + (18 - 14) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #000;
  }
  footer .bottom .anirudh .content .name {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .anirudh .content .mail {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .rishabh {
    position: relative;
    text-align: center;
    padding: 1rem 0;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / span 1;
  }
  footer .bottom .rishabh .content {
    position: relative;
    padding: 0.5rem;
    text-align: center;
    font-size: calc( 14px + (18 - 14) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #000;
  }
  footer .bottom .rishabh .content .name {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .rishabh .content .mail {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .info {
    position: relative;
    text-align: center;
    font-size: calc( 12px + (16 - 12) * ((100vw - 300px) / (1920 - 300)));
    grid-row: span 1/-1;
    margin: 3rem 0;
  }
}

@media only screen and (min-device-width: 700px) and (max-device-width: 1224px) {
  footer .bottom {
    position: relative;
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (max-content)[5];
        grid-template-rows: repeat(5, -webkit-max-content);
        grid-template-rows: repeat(5, max-content);
    margin: 5vh auto 8vh auto;
    font-family: "Montserrat", sans-serif;
  }
  footer .bottom .title {
    position: relative;
    text-align: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    margin: 2rem 0;
  }
  footer .bottom .title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 1px;
    background: #000;
    width: 40%;
  }
  footer .bottom .title::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 1px;
    background: #000;
    width: 40%;
  }
  footer .bottom .title .text {
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: calc( 26px + (48 - 26) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
  }
  footer .bottom .quick-links {
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / span 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    margin: 0 0 2rem 0;
  }
  footer .bottom .quick-links .links {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: calc( 16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    text-transform: uppercase;
  }
  footer .bottom .quick-links .links .linkItems {
    position: relative;
    margin: 1rem 0;
  }
  footer .bottom .quick-links .links .linkItems a {
    position: relative;
    color: #000;
  }
  footer .bottom .quick-links .links .linkItems a:hover::before, footer .bottom .quick-links .links .linkItems a:focus::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  footer .bottom .quick-links .links .linkItems a:hover::after, footer .bottom .quick-links .links .linkItems a:focus::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  footer .bottom .quick-links .links .linkItems a::before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: -10px;
    top: -10px;
    left: -10px;
    right: -10px;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  footer .bottom .quick-links .links .linkItems a::after {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: -10px;
    top: -10px;
    left: -10px;
    right: -10px;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  footer .bottom .address {
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / span 2;
    grid-column: span 1/-1;
  }
  footer .bottom .address .text {
    position: relative;
    font-size: calc( 16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }
  footer .bottom .address .text > div {
    position: relative;
    margin: 1rem 0;
  }
  footer .bottom .anirudh {
    position: relative;
    text-align: center;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
    grid-column: span 1/-1;
  }
  footer .bottom .anirudh .content {
    position: relative;
    padding: 1rem;
    text-align: center;
    font-size: calc( 14px + (18 - 14) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #000;
  }
  footer .bottom .anirudh .content .name {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .anirudh .content .mail {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .rishabh {
    position: relative;
    text-align: center;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
  footer .bottom .rishabh .content {
    position: relative;
    padding: 1rem;
    text-align: center;
    font-size: calc( 14px + (18 - 14) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #000;
  }
  footer .bottom .rishabh .content .name {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .rishabh .content .mail {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .social {
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    text-align: center;
  }
  footer .bottom .social .wrapper {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  footer .bottom .social .wrapper .icons {
    position: relative;
    height: 30px;
    margin: 0 5px;
  }
  footer .bottom .social .wrapper .icons svg {
    width: auto !important;
  }
  footer .bottom .social .wrapper .icons svg path {
    fill: #000 !important;
  }
  footer .bottom .info {
    position: relative;
    text-align: center;
    font-size: calc( 12px + (16 - 12) * ((100vw - 300px) / (1920 - 300)));
    grid-row: span 1/-1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    margin: 3rem 0;
  }
  footer .bottom .vertical-line {
    position: relative;
    text-align: center;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / span 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
  }
  footer .bottom .vertical-line .line {
    position: relative;
    width: 1px;
    height: 80%;
    margin: auto;
    background: #000;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 700px) {
  footer .bottom {
    position: relative;
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (max-content)[8];
        grid-template-rows: repeat(8, -webkit-max-content);
        grid-template-rows: repeat(8, max-content);
    margin: 5vh auto 8vh auto;
    font-family: "Montserrat", sans-serif;
  }
  footer .bottom .title {
    position: relative;
    text-align: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    margin: 2rem 0 1.5rem 0;
  }
  footer .bottom .title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 1px;
    background: #000;
    width: 30%;
  }
  footer .bottom .title::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 1px;
    background: #000;
    width: 30%;
  }
  footer .bottom .title .text {
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: calc( 26px + (48 - 26) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
  }
  footer .bottom .social {
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    text-align: center;
  }
  footer .bottom .social .wrapper {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  footer .bottom .social .wrapper .icons {
    position: relative;
    height: 30px;
    margin: 0 5px;
  }
  footer .bottom .social .wrapper .icons svg {
    width: auto !important;
  }
  footer .bottom .social .wrapper .icons svg path {
    fill: #000 !important;
  }
  footer .bottom .vertical-line {
    position: relative;
    text-align: center;
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: 2rem 0;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
  }
  footer .bottom .vertical-line .line {
    position: relative;
    width: 1px;
    height: 10vh;
    margin: auto;
    background: #000;
  }
  footer .bottom .address {
    position: relative;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
  }
  footer .bottom .address .text {
    position: relative;
    font-size: calc( 16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }
  footer .bottom .address .text > div {
    position: relative;
    margin: 1rem 0;
  }
  footer .bottom .quick-links {
    position: relative;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / span 1;
    margin: 0 0 2rem 0;
  }
  footer .bottom .quick-links .links {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: calc( 16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    text-transform: uppercase;
  }
  footer .bottom .quick-links .links .linkItems {
    position: relative;
    margin: 1rem 0;
  }
  footer .bottom .quick-links .links .linkItems a {
    position: relative;
    color: #000;
  }
  footer .bottom .quick-links .links .linkItems a:hover::before, footer .bottom .quick-links .links .linkItems a:focus::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  footer .bottom .quick-links .links .linkItems a:hover::after, footer .bottom .quick-links .links .linkItems a:focus::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  footer .bottom .quick-links .links .linkItems a::before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: -10px;
    top: -10px;
    left: -10px;
    right: -10px;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  footer .bottom .quick-links .links .linkItems a::after {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: -10px;
    top: -10px;
    left: -10px;
    right: -10px;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  footer .bottom .anirudh {
    position: relative;
    text-align: center;
    padding: 1rem 0;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / span 1;
  }
  footer .bottom .anirudh .content {
    position: relative;
    padding: 0.5rem;
    text-align: center;
    font-size: calc( 14px + (18 - 14) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #000;
  }
  footer .bottom .anirudh .content .name {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .anirudh .content .mail {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .rishabh {
    position: relative;
    text-align: center;
    padding: 1rem 0;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / span 1;
  }
  footer .bottom .rishabh .content {
    position: relative;
    padding: 0.5rem;
    text-align: center;
    font-size: calc( 14px + (18 - 14) * ((100vw - 300px) / (1920 - 300)));
    font-weight: 300;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #000;
  }
  footer .bottom .rishabh .content .name {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .rishabh .content .mail {
    position: relative;
    display: inline-block;
    margin: 5px 0;
  }
  footer .bottom .info {
    position: relative;
    text-align: center;
    font-size: calc( 12px + (16 - 12) * ((100vw - 300px) / (1920 - 300)));
    grid-row: span 1/-1;
    margin: 3rem 0;
  }
}

.section {
  position: relative;
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-top: 3rem;
}

.section iframe {
  width: 100%;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */